In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving stats.csv to stats.csv

In [ ]:
df=pd.read_csv('stats.csv')

In [ ]:
df

   Unnamed: 0       Name  Salary Country
0           0      Aarya   20000   India
1           1      Tirth   22000     USA
2           2     Tanmay   22000     USA
3           3       Ruhi   15000  Brazil
4           4     Trisha   14500   Italy
5           5      Ayush   16000   Italy
6           6  Aaraydhya   19000  Brazil
7           7     Anjali   17000   India
8           8     Atharv   25000   India
9           9      Sakhi   21000     USA

Measure of Central Tendancy

In [ ]:
# Mean Salary
mean1=df['Salary'].mean()
mean1

19150.0

In [ ]:
#sum of Salaries
sum1=df['Salary'].sum()
sum1

191500

In [ ]:
#maximum Salary
max1=df['Salary'].max()
max1

25000

In [ ]:
#Minimum Salary
min1=df['Salary'].min()
min1

14500

In [ ]:
#Total Count
count1=df['Salary'].count()
count1

10

In [ ]:
#Median
median=df['Salary'].median()
median

19500.0

In [ ]:
#Mode
mode1=df['Salary'].mode()
mode1

0    22000
dtype: int64

In [ ]:
countrywise_sum=df.groupby(['Country'])['Salary'].sum()
countrywise_sum

Country
Brazil    34000
India     62000
Italy     30500
USA       65000
Name: Salary, dtype: int64

In [ ]:
countrywise_count=df.groupby(['Country']).count()
countrywise_count

         Unnamed: 0  Name  Salary
Country
Brazil            2     2       2
India             3     3       3
Italy             2     2       2
USA               3     3       3



```
# MEASURE OF VARIABILITY 
```

In [ ]:
#variance of Salaries
var1=df['Salary'].var()
var1

12002777.777777778

In [ ]:
#standarad Deviation
std1=df['Salary'].std()
std1

3464.5025296249646

MEASURE OF SYMMETRY

In [ ]:
skew1=df.skew(axis=0, skipna=True)
skew1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Unnamed: 0    0.000000
Salary        0.134368
dtype: float64

In [ ]:
df.describe()

       Unnamed: 0       Salary
count    10.00000     10.00000
mean      4.50000  19150.00000
std       3.02765   3464.50253
min       0.00000  14500.00000
25%       2.25000  16250.00000
50%       4.50000  19500.00000
75%       6.75000  21750.00000
max       9.00000  25000.00000