In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import ttest_1samp
from statsmodels.stats.power import tt_ind_solve_power

In [ ]:
ages = [10,20,30,40,50,60,25,35,45,32,42,52,62,28,38,48,58,44,54,64,35,30,62,32,42,44,33,55,19,20,28,]

In [ ]:
ages_mean=np.mean(ages)
print(ages_mean)

39.903225806451616

In [ ]:
sample_size=10
age_sample=np.random.choice(ages,sample_size)
age_sample

array([20, 19, 44, 35, 35, 45, 44, 30, 45, 62])

In [ ]:
from scipy.stats import ttest_1samp

In [ ]:
ttest,p_value=ttest_1samp(age_sample,30)

In [ ]:
print(p_value)

0.08610905453623792

In [ ]:
if p_value < 0.05:
  print("We are rejecting the null hypothesis")
else:
  print("We are accepting the null hypothesis")

We are accepting the null hypothesis